In [11]:
#1.Abbiamo una lista di liste:  Che tipo di struttura dati o matematica potrebbe rappresentare? 
#Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

#essendo una lista e con tutti i dati uguali all'interno, questa lista potrebbe rappresentare piu' vettori
#attraverso l'indice di un vettore specifico riesco a risalire ad un elemento
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
import numpy as np
array1 = np.array(mat[0])
array2 = np.array(mat[1])
array3 = np.array(mat[2])


print(array1[3])
print(array1+array2+array3)

3
[15 18 21 24 27]

In [13]:
#2.Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial() e la variabile .pi la riconoscete?

import math 
numero = 23 

numero_radianti = math.radians(numero)     #ho convertito il numero in radianti 

seno = math.sin(numero_radianti)
coseno= math.cos(numero_radianti)
fattoriale = math.factorial(numero)
pi = math.pi                               #non vuole parentesi 

print(f"Il seno di {numero_radianti} è {seno}\n")
print(f"Il coseno di {numero_radianti} è {coseno}\n")
print(f"Il fattoriale di {numero} è {fattoriale}\n")
print(f"Il pi_greco è {pi}")

Il seno di 0.4014257279586958 è 0.39073112848927377

Il coseno di 0.4014257279586958 è 0.9205048534524404

Il fattoriale di 23 è 25852016738884976640000

Il pi_greco è 3.141592653589793

In [15]:
#3.Proviamo a eseguire math.degrees(math.pi) Qual è e cosa significa il risultato? 
#Per saperne di più su questa funzione possiamo usare help(math.degrees)

help(math.degrees)

math.degrees(math.pi)              #mi restituisce il pi_greco in gradi

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

180.0

In [19]:
#4.L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno
#trasformiamola in un array  e rispondiamo alle domande del CEO della Object SpA: 
# qual è stata la vendita massima mensile? E quella minima? • quali sono le vendite mensili maggiori di 4999 oggetti? 
#E quante ne sono? • quali sono le vendite minori di 3000 oggetti?
#• in media quanti oggetti sono stati venduti al mese?

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

lst = np.array(lst)                            #casting : trasformo la lista in array 
Vendita_max = lst.max()
Vendita_min = lst.min()
Vendita_max_4999 = lst > 4999
Vendita_min_3000 = lst <3000
Vendita_media = round(lst.mean(),2)             #arrotondiamo a 2 numeri dopo la virgola




print(f"La vendita massima mensile è {Vendita_max}")
print(f"La vendita minima mensile è {Vendita_min}")
print(f"Le vendite mensili maggiori di 4999 oggetti sono: {lst[Vendita_max_4999]} ")   #devo mettere lst[] perchè voglio vedre i valori e non T true o false
print(f"Le vendite superiori a 4999 sono {np.sum(Vendita_max_4999)}")       #somma tutte le condizioni vere per avere il conteggio 
print(f"Le vendite mensili minori di 3000 oggetti sono: {lst[Vendita_min_3000]}")
print(f"La media dei prodotti venduti al mese è: {Vendita_media}")

La vendita massima mensile è 8150
La vendita minima mensile è 1280
Le vendite mensili maggiori di 4999 oggetti sono: [5500 7200 6410 8150 7100 5350]
Le vendite superiori a 4999 sono 6
Le vendite mensili minori di 3000 oggetti sono: [2000 1280 1900 2500]
La media dei prodotti venduti al mese è: 4634.17

In [14]:
#5.Consideriamo il seguente dizionario: Consideriamo ora la seguente Series : Possiamo accedere alle stesse informazioni nello stesso modo:
#Dunque qual è la differenza tra i due tipi di dato?
#Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

#la differenza prinicpale è che fatturati_dict è un dizionario quindi con coppia chiave-valore
#mentre fatturato è una series quindi come se fosse solo una colonna ma in questo caso con un indice

import pandas as pd
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))  

fatturati_dict[1997] 
fatturati_series[1997]


print(fatturati_dict)
print(fatturati_series)

{1997: 12000, 1998: 15000, 1999: 20000, 2000: 23000, 2001: 25000, 2002: 17000, 2003: 14000, 2004: 21000}
1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

In [128]:
#6.L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray:
#L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for • con il masking

stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 

stipendi_raddoppiati= []                                              #ciclo for
for stipendio in stipendi :
    stipendio_raddoppiato=stipendio*2
    stipendi_raddoppiati.append(stipendio_raddoppiato)
print("Complimenti per il vostro lavoro, i nuovi stipendi sono:",stipendi_raddoppiati)

stipendi_raddoppiati_new = [stipendio*2 for stipendio in stipendi]    #ciclo for con comprehension
print("Complimenti per il vostro lavoro, i nuovi stipendi sono:",stipendi_raddoppiati_new)

stipendio_new = stipendi*2                                                 #masking
print("Complimenti per il vostro lavoro, i nuovi stipendi sono:",stipendio_new)

Complimenti per il vostro lavoro, i nuovi stipendi sono: [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
Complimenti per il vostro lavoro, i nuovi stipendi sono: [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
Complimenti per il vostro lavoro, i nuovi stipendi sono: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]